*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.hero{
    background-color: violet;
    text-align: center;
}

.popup-btn{
    background: linear-gradient(rgb(149,0,149), rgb(104,1,104));
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
}

.popup{
    position: fixed;
    background-color:rgb(0,0,0,0.701);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.8s;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    opacity: 0;
    visibility: hidden;
}

.text{
    margin-top: 80px;
    line-height: 25px;
}

.popup_content{
    background-color: aliceblue;
    max-width: 700px;
    padding: 30px;
    position: relative;
}

.popup_close{
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
}

