*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
}

header{
    margin-top: 50px;
}

.opened{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 50px;
    width: 50px;
}

.menu{
    width: 50px;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.logo{
    width: 50px;
    margin-right: 50px;
}

ul{
    color: transparent;
}

.items li{
    display: inline-block;
    color: black;
    text-decoration: none;
}

.items li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-right: 50px;
    font-size: large;
    font-weight: bolder;
}

.items{
    display: flex;
    line-height: 50px;
    justify-content: center;
}

.search{
    border: none;
    background-color: transparent;
    line-height: 40px;
    cursor: pointer;
}

input{
    border: none;
    background-color: transparent;
    padding-left: 10px;
}

input:focus{
    outline:none;
}

input{
    padding: 10px;
    width: 80%;
}

.all{
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    border: 1px solid black;
}

.info{
    width: 0px;
    opacity: 0;
    visibility: visible;
    display: none;
    position: absolute;
}

.click li{
    display: inline-block;
}


.click li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 10px;
}

.click{
    border: 1px solid black;
    padding-left: 30px;
}

.closed{
    position: absolute;
    top: -70px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    left: 20px;
    margin-right: 50px;
    cursor: pointer;
}

.cross{
    width: 50px;
    line-height: 50px;
}

.searching{
    width: 30px;
}

.all.open{
    background-color: rgba(128, 128, 128, 0.413);
}