* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.click {
    margin-left: 5px;
    padding: 5px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
}

input {
    color: purple;
}

input:focus {
    outline: none;
}

form {
    margin-top: 20px;
    margin-left: 20px;
}

ul {
    margin-left: 20px;
    text-decoration: none;
    list-style: none;
}